<html>

  
 
<table >
<tr ><h1>Музеи Беларуси</h1></tr>
</table>
{{#each events}}
<h2>{{name_museum}}</h2>
<ul>
	<li>{{city_museum}}</li>
	<li>{{address_museum}}</li>
	<li>{{mobile_phone}}</li>
	<li>{{type_museum}}</li>
	<li>{{rating_museum}}</li>
</ul>
{{/each}}

<!--<h1>События в Минске</h1>
{{#each event}}
<h2>{{name}}</h2>
<ol>
	<li>{{time}}</li>
	<li>{{place}}</li>
	<li>{{rating}}</li>
	<li>{{location}}</li>
	<li>{{type}}</li>
</ol>

{{/each}}-->

  

</html>


